

# Exercici 1
Descarrega el dataset adjunt preu lloguer per trimestre i barri.csv extret de la web OpenDataBCN i resumeix-lo estadísticament i gràficament.

Crea almenys una visualització per:
* 1- Una variable categòrica (Districte o Barri)
* 2- Una variable numèrica (Preu)
* 3- Una variable numèrica i una categòrica (Districte i Preu)
* 4- Dues variables numèriques (Any o Trimestre i Preu)
* 5- Tres variables (Barri o Districte, Trimestre i Preu)


# Exercici 2
Exporta els gràfics com imatges o com HTML.



# Exercici 3
Proposa alguna visualització que creguis que pot resultar interessant.

In [4]:
#importamos las librerias que pudieramos necesitar

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#volcamos el data set para extraer el data frame sobre el que trabajaremos, 
#previamente hemos guardado el archivo csv en el mismo repositorio del archivo presente.

df_preulloguer = pd.read_csv('./preu lloguer per trimestre i barri.csv', encoding='utf-8', engine='python')
df_preulloguer

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2021,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),759.2
1,2021,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),929.6
2,2021,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),808.9
3,2021,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),879.4
4,2021,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),918.0
...,...,...,...,...,...,...,...,...
579,2021,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),15.2
580,2021,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.8
581,2021,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),13.8
582,2021,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),11.7
583,2021,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),11.3

# **1º Analizamos el conjunto de datos**

In [7]:
df_preulloguer.shape

(584, 8)

In [8]:
df_preulloguer.ndim

2

In [14]:
df_preulloguer.size

4672

In [12]:
df_preulloguer.dtypes

Any                int64
Trimestre          int64
Codi_Districte     int64
Nom_Districte     object
Codi_Barri         int64
Nom_Barri         object
Lloguer_mitja     object
Preu              object
dtype: object

In [13]:
df_preulloguer.columns

Index(['Any', 'Trimestre', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri',
       'Nom_Barri', 'Lloguer_mitja', 'Preu'],
      dtype='object')

In [15]:
#Comprobamos si nuestro dataframe tiene nulos.
df_preulloguer.isnull()

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
579,False,False,False,False,False,False,False,False
580,False,False,False,False,False,False,False,False
581,False,False,False,False,False,False,False,False
582,False,False,False,False,False,False,False,False
583,False,False,False,False,False,False,False,False

In [16]:
#Aunque en este caso no aplicaría,añadiendo el .sum(), podemos comprobar que variable acumula los nulos.
df_preulloguer.isnull().sum()

Any               0
Trimestre         0
Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
Lloguer_mitja     0
Preu              0
dtype: int64

In [6]:
#Algunas de las operaciones anteriores se pueden resumir con el método .info
# que nos da una visión general de lo que contiene nuestro dataframe
df_preulloguer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             584 non-null    int64
 1   Trimestre       584 non-null    int64
 2   Codi_Districte  584 non-null    int64
 3   Nom_Districte   584 non-null    object
 4   Codi_Barri      584 non-null    int64
 5   Nom_Barri       584 non-null    object
 6   Lloguer_mitja   584 non-null    object
 7   Preu            584 non-null    object
dtypes: int64(4), object(4)
memory usage: 36.6+ KB

In [17]:
df_preulloguer.head()

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2021,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),759.2
1,2021,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),929.6
2,2021,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),808.9
3,2021,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),879.4
4,2021,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),918.0

# **2º Resumen estadístico**

In [21]:
df_preulloguer.describe()

          Any   Trimestre  Codi_Districte  Codi_Barri
count   584.0  584.000000      584.000000  584.000000
mean   2021.0    2.500000        6.246575   37.000000
std       0.0    1.118992        2.790726   21.089371
min    2021.0    1.000000        1.000000    1.000000
25%    2021.0    1.750000        4.000000   19.000000
50%    2021.0    2.500000        7.000000   37.000000
75%    2021.0    3.250000        8.000000   55.000000
max    2021.0    4.000000       10.000000   73.000000

# **3º Resumen gráfico**